/* src/app/globals.css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* مهم: Safari + الموبايل */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* نخليها white عشان مايحصلش “gray” فجأة */
    --foreground: #171717;
  }
}

:root {
  --font-sans: var(--font-rubik);
}

body {
  font-family: var(--font-rubik), sans-serif;
}